body {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 16px;
   color: $headerTextColor;
   font-family: 'Open Sans', sans-serif;
}
.center-child {
   display: flex;
   align-items: center;
   justify-content: center;
}

.hidden {
   display: none;
}
